body
{
    background-color: rgb(75, 73, 73);
}

header
{
    color:aqua;
    text-align: center;
    letter-spacing: 2px;
    background-color: rgb(0, 0, 0);
}
button
{
    font-family: "Franklin Gothic Medium", 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgb(0, 210, 247);
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 234);
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
}
.space
{
    margin-bottom: 50px;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.guess
{
   margin-left: auto;
   margin-right: auto;
   display: block;
   width: 30%; 
}
blockquote
{
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    letter-spacing: 2px;
}

p
{
    color: aqua;
}
